body {
	background: black;
	margin: 0px;
	box-sizing: border-box;
}

#miles_image{
	background:url('../images/lilmiles.jpg') -25px -50px;
	position:fixed ;
	top:-0px;
	width:100%;
	height: 2000px;
	z-index:0;
  	height:calc(100% + 150);
  	background-size: calc(100% + 50px);
  	z-index: 20;
  	margin: 0px;
  	background-repeat: no-repeat;
  	overflow-y: scroll;
}

#full_name{
	z-index: 75;
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vw - 55px);
	padding:  10px;
}

#lines{
	width: calc(75vw - 30px);
}

.hidden{display:none}

.boxes{
	width:  calc(100vw - 20px);
	border: 1px solid #FF9E00;
	background: rgba(0, 0, 0, .5);
	padding: 0px;
	overflow-y: hidden;
	font-family: 'Amatic SC', sans-serif;
	font-size: 16pt;
	letter-spacing: .07em;
}

.title_box{
	float: left;
	overflow-y: hidden;
	margin-right: 10px;
	line-height: 1;
	color: #622E01;
	font-family: 'Economica', sans-serif;
}

.color_boxes_one{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	box-sizing: border-box;
}

.color_boxes_two{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	width: 100%;
	background-color: #FD9004;
	box-sizing: border-box;
}

.color_boxes_three{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	width: 100%;
	background-color: #D86703;
	box-sizing: border-box;
}

.content_box{
	color: white;
	line-height: 1.3em;
	font-size: 1.2em;
	padding: 10px 10px 10px 0px;
	overflow-y: scroll;
}

#film_overlay{
	width: 100%;
	height: 2000px;
	background: url('../images/film_overlay.png');
	background-blend-mode: multiply;
	background-size: 100%;
	opacity: .2;
	position: fixed;
	top: 0px;
	left: 0px;
}


.words{
	display: inline-block;
	height: 11vw;
}

#links{
	color: white;
	font-family: sans-serif;
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}

.inline_links{
	display: inline-block;
	text-align: center;
	position: relative;
	top: -20px;
	width: 22vw;
	height: 1.7vw;
	/* border: 1px dotted #707070; */
	font-family: 'Economica', sans-serif;
	font-size: 2.9vw;
	cursor: pointer;
	transition: color 0.4s ease;
	margin-left: -3px;
}

.inline_links:hover{
	color: #FF9E00;
}
.inline_links:active{
	color: #FF9E00;
}

a:link {
	color: #FFC972;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	transition: .4s;
}

a:visited {
	color: #FFC972;
}

a:hover {
	color: #FF9E00;
}

a:active {
	color: #F27006;
}

#m_letter{
	position: relative;
	left: 2000px;
	opacity: .0;
}

#i_letter{
	position: relative;
	top: 1000px;
	opacity: .0;
}

#l_letter{
	position: relative;
	left: 1000px;
	opacity: .0;
}

#e_letter{
	position: relative;
	right: 1000px;
	opacity: .0;
}

#s_letter{
	position: relative;
	top: -200px;
	opacity: .0;
}


#c_letter{
	position: relative;
	top: 500px;
	opacity: .0;
}

#h_letter{
	position: relative;
	top: 1000px;
	opacity: .0;
}

#i2_letter{
	position: relative;
	left: 1000px;
	opacity: .0;
}

#c2_letter{
	position: relative;
	right: 1000px;
	opacity: .0;
}

#k_letter{
	position: relative;
	top: -200px;
	opacity: .0;
}

input{
	display: block;
	margin-bottom: 21px;
	margin-left: 30px;
	width: 250px;
	height: 20px;
	/* border-radius: 3px; */
	border: none;
	font-family: courier;
	font-size: 13px;
	padding: 5px;
}

textarea{
	display: block;
	margin-bottom: 21px;
	margin-left: 30px;
	width: 250px;
	height: 80px;
	/* border-radius: 3px; */
	border: none;
	font-family: courier;
	font-size: 13px;
	padding: 5px;
	resize: none;
}

button{
	border: none;
	border-radius: 0px;
	font-family: 'Economica', sans-serif;
	font-size: 1.1em;
	margin-left: 30px;
	transition: .3s;
}

button:focus {outline:0;}

button:hover{
	background: #FFC000;
}

button:active{
	background: #F28100;
}

.feedback{
	display: none;
	font-size: .9em;
	line-height: 1em;
	color: #FC0407;
	padding-top: 15px;
}

.under_feedback{
	width: 100%;
	height: 100px;
}

#last_name{
	display: none;
}

.site_description{
	font-size: .9em;
	color: #FFE5BF;
	line-height: .8em;
}

li{
	margin-top: 60px;
}