body {
	background: black;
	margin: 0px;
}

#miles_image{
	background:url('../images/lilmiles.jpg') -25px -50px;
	position:fixed ;
	top:-150px;
	width:100%;
	z-index:0;
  	height:calc(100% + 150);
  	background-size: calc(100% + 50px);
  	z-index: 20;
  	margin: 0px;
  	background-repeat: no-repeat;
}

#miles_name{
	z-index: 75;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 35vw;
	border-bottom: 1px solid orange;
	padding:  10px;
}

#film_overlay{
	width: 100%;
	height: 2000px;
	background: url('../images/film_overlay.png');
	background-blend-mode: multiply;
	opacity: .2;
}

/* #film_overlay{
	width: 50%;
	opacity: .5;
} */